# Messages

In [19]:
import pandas as pd
import numpy as np

datamessages = pd.read_csv('/Users/constantinwiederin/Documents/IE/Algorithmic Trading/LOBSTER/AAPL_2012-06-21_34200000_57600000_message_10.csv', header=None)

In [20]:
datamessages.shape

(400391, 6)

In [21]:
datamessages.columns = ['Time', 'Type', 'OrderID', 'Size', 'Price', 'Direction']

In [22]:
datamessages.head()

           Time  Type   OrderID  Size    Price  Direction
0  34200.004241     1  16113575    18  5853300          1
1  34200.004261     1  16113584    18  5853200          1
2  34200.004447     1  16113594    18  5853100          1
3  34200.025552     1  16120456    18  5859100         -1
4  34200.025580     1  16120480    18  5859200         -1

In [23]:
#Showing the number of entries by direction
datamessages['Direction'] = datamessages['Direction'].replace({-1: 'Sell limit order', 1: 'Buy limit order'})

# Orderbook

In [24]:
dataorderbook = pd.read_csv('/Users/constantinwiederin/Documents/IE/Algorithmic Trading/LOBSTER/AAPL_2012-06-21_34200000_57600000_orderbook_10.csv', header=None) 
dataorderbook.shape

(400391, 40)

In [25]:
dataorderbook.columns = ['Ask Price 1', 'Ask Size 1', 'Bid Price 1', 'Bid Size 1', 'Ask Price 2', 'Ask Size 2', 'Bid Price 2', 'Bid Size 2', 'Ask Price 3', 'Ask Size 3', 'Bid Price 3', 'Bid Size 3', 'Ask Price 4', 'Ask Size 4', 'Bid Price 4', 'Bid Size 4', 'Ask Price 5', 'Ask Size 5', 'Bid Price 5', 'Bid Size 5', 'Ask price 6', 'Ask Size 6', 'Bid Price 6', 'Bid Size 6', 'Ask Price 7', 'Ask Size 7', 'Bid Price 7', 'Bid Size 7', 'Ask Price 8', 'Ask Size 8', 'Bid Price 8', 'Bid Size 8', 'Ask Price 9', 'Ask Size 9', 'Bid Price 9', 'Bid Size 9', 'Ask Price 10', 'Ask Size 10', 'Bid Price 10', 'Bid Size 10']

In [26]:
dataorderbook.head()

,Ask Price 1,Ask Size 1,Bid Price 1,Bid Size 1,Ask Price 2,Ask Size 2,Bid Price 2,Bid Size 2,Ask Price 3,Ask Size 3,...,Bid Price 8,Bid Size 8,Ask Price 9,Ask Size 9,Bid Price 9,Bid Size 9,Ask Price 10,Ask Size 10,Bid Price 10,Bid Size 10
0,5859400,200,5853300,18,5859800,200,5853000,150,5861000,200,...,5845300,300,5876500,1160,5843800,200,5879000,500,5842700,300
1,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,5846500,300,5876500,1160,5845300,300,5879000,500,5843800,200
2,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,5849300,300,5876500,1160,5846500,300,5879000,500,5845300,300
3,5859100,18,5853300,18,5859400,200,5853200,18,5859800,200,...,5849300,300,5873900,100,5846500,300,5876500,1160,5845300,300
4,5859100,18,5853300,18,5859200,18,5853200,18,5859400,200,...,5849300,300,5871000,10,5846500,300,5873900,100,5845300,300

In [27]:
dataorderbook['Time'] = datamessages['Time']

In [28]:
#merging the two datasets on the time column
data = pd.merge(datamessages, dataorderbook, on='Time')

In [29]:
#remove type type 5 entries
data = data[data['Type'] != 5]

In [30]:
data['midprice'] = (data['Ask Price 1'] + data['Bid Price 1']) / 2

In [31]:
data['Calc_direction'] = np.where(data['midprice']<data['Price'], 'Buy', 'Sell')

In [32]:
#drop the column Direction
data.drop('Direction', axis=1, inplace=True)

In [38]:
data['Type'].unique()

array([1, 3, 4, 2])