# Messages

In [4]:
import pandas as pd
import numpy as np

datamessages = pd.read_csv('data/message_data.csv', header=None)

In [5]:
datamessages.shape

(400391, 6)

In [6]:
datamessages.columns = ['Time', 'Type', 'OrderID', 'Size', 'Price', 'Direction']

In [7]:
datamessages.head()

           Time  Type   OrderID  Size    Price  Direction
0  34200.004241     1  16113575    18  5853300          1
1  34200.004261     1  16113584    18  5853200          1
2  34200.004447     1  16113594    18  5853100          1
3  34200.025552     1  16120456    18  5859100         -1
4  34200.025580     1  16120480    18  5859200         -1

In [8]:
#Showing the number of entries by direction
datamessages['Direction'] = datamessages['Direction'].replace({-1: 'Sell limit order', 1: 'Buy limit order'})

# Orderbook

In [9]:
dataorderbook = pd.read_csv('data/orderbook_data.csv', header=None) 
dataorderbook.shape

(400391, 40)

In [10]:
dataorderbook.columns = ['Ask Price 1', 'Ask Size 1', 'Bid Price 1', 'Bid Size 1', 'Ask Price 2', 'Ask Size 2', 'Bid Price 2', 'Bid Size 2', 'Ask Price 3', 'Ask Size 3', 'Bid Price 3', 'Bid Size 3', 'Ask Price 4', 'Ask Size 4', 'Bid Price 4', 'Bid Size 4', 'Ask Price 5', 'Ask Size 5', 'Bid Price 5', 'Bid Size 5', 'Ask price 6', 'Ask Size 6', 'Bid Price 6', 'Bid Size 6', 'Ask Price 7', 'Ask Size 7', 'Bid Price 7', 'Bid Size 7', 'Ask Price 8', 'Ask Size 8', 'Bid Price 8', 'Bid Size 8', 'Ask Price 9', 'Ask Size 9', 'Bid Price 9', 'Bid Size 9', 'Ask Price 10', 'Ask Size 10', 'Bid Price 10', 'Bid Size 10']

In [11]:
dataorderbook.head()

,Ask Price 1,Ask Size 1,Bid Price 1,Bid Size 1,Ask Price 2,Ask Size 2,Bid Price 2,Bid Size 2,Ask Price 3,Ask Size 3,...,Bid Price 8,Bid Size 8,Ask Price 9,Ask Size 9,Bid Price 9,Bid Size 9,Ask Price 10,Ask Size 10,Bid Price 10,Bid Size 10
0,5859400,200,5853300,18,5859800,200,5853000,150,5861000,200,...,5845300,300,5876500,1160,5843800,200,5879000,500,5842700,300
1,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,5846500,300,5876500,1160,5845300,300,5879000,500,5843800,200
2,5859400,200,5853300,18,5859800,200,5853200,18,5861000,200,...,5849300,300,5876500,1160,5846500,300,5879000,500,5845300,300
3,5859100,18,5853300,18,5859400,200,5853200,18,5859800,200,...,5849300,300,5873900,100,5846500,300,5876500,1160,5845300,300
4,5859100,18,5853300,18,5859200,18,5853200,18,5859400,200,...,5849300,300,5871000,10,5846500,300,5873900,100,5845300,300

In [12]:
dataorderbook['Time'] = datamessages['Time']

In [13]:
#merging the two datasets on the time column
data = pd.merge(datamessages, dataorderbook, on='Time')

In [14]:
#remove type type 5 entries
data = data[data['Type'] != 5]

In [15]:
data['midprice'] = (data['Ask Price 1'] + data['Bid Price 1']) / 2

In [16]:
data['Calc_direction'] = np.where(data['midprice']<data['Price'], 'Buy', 'Sell')

In [17]:
#drop the column Direction
data.drop('Direction', axis=1, inplace=True)

In [18]:
data['Type'].unique()

array([1, 3, 4, 2])

In [20]:
data.sample(10)

,Time,Type,OrderID,Size,Price,Ask Price 1,Ask Size 1,Bid Price 1,Bid Size 1,Ask Price 2,...,Ask Price 9,Ask Size 9,Bid Price 9,Bid Size 9,Ask Price 10,Ask Size 10,Bid Price 10,Bid Size 10,midprice,Calc_direction
110743,39368.409921,1,90827331,100,5876500,5879000,100,5878000,700,5879200,...,5880300,100,5875700,260,5880500,50,5875600,200,5878500.0,Sell
432351,57137.606105,1,277582903,100,5780200,5780200,100,5779800,200,5780300,...,5781100,100,5778300,100,5781500,200,5778200,100,5780000.0,Buy
19091,34892.016338,1,30521970,18,5865900,5865900,18,5863800,2,5866200,...,5868700,100,5860500,100,5869400,100,5860000,175,5864850.0,Buy
125202,40116.636313,1,100621784,18,5865500,5865300,18,5863400,180,5865400,...,5866600,14,5861400,23,5866900,134,5861300,220,5864350.0,Buy
379760,55571.826573,1,254030484,17,5803900,5802000,400,5800300,100,5802400,...,5804000,20,5799300,100,5804100,100,5799000,52,5801150.0,Buy
293542,51274.284590,3,210997474,200,5817900,5820000,300,5818500,100,5820800,...,5822200,25,5816600,25,5822900,200,5816500,22,5819250.0,Sell
44469,36049.332541,3,48754822,100,5856800,5857700,569,5857000,100,5858300,...,5861200,100,5853200,28,5861600,1000,5851000,51,5857350.0,Sell
104188,39106.266298,3,88304264,18,5872600,5872300,200,5871200,100,5873000,...,5874500,70,5868400,100,5874800,100,5868000,164,5871750.0,Buy
242520,47676.599855,1,177278859,100,5831100,5833600,10,5832500,100,5833700,...,5835000,50,5830700,200,5835300,17,5830400,17,5833050.0,Sell
148399,41282.443576,1,115990233,9,5852500,5855800,100,5852700,100,5855900,...,5856800,2,5851800,236,5857100,100,5851400,200,5854250.0,Sell